*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ubuntu';
}

.bg-color{
    background-color:#090a12 ;
    height: 100px;
}



.d-flex{
display: flex;
}

.jc-spbw{
    justify-content: space-between;
}

.b-black{
    border: black 1px solid;
}


footer{
    height: 100px;
    background-color: goldenrod;
}

main{
    background-color: silver;
    height: calc(100vh - 100px);
    display:flex;
}


#sidebar{
    width: 250px;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

#content{
    height: 100%;
    width: calc(100vw - 250px);
    background-color: blue;
    color: white;
    overflow-y: auto;
}

/* fine struttura */

/* contenuto sidebar */


.logo{
    width: 70%;
    margin: 25px 15px;
}

.top-bar{
    color: #a3a3a3;
}

.top-bar ul{
    margin-left: 40px;
}

.top-bar ul{
    padding-bottom: 20px;
}

.top-bar li{
    padding-bottom: 30px;
}

.top-bar h2 {
    margin-left: 40px;
    padding-bottom: 10px;
    color: white;
}

.top-bar button{
    padding: 10px;
    margin-right:5px ;
    background-color: #a3a3a3;
    border: transparent;
}



.add-btn {
    margin: 0 0 10px 40px;
    
}

 ul{
    list-style: none;
}

li i{
    color: white;
    font-size: 25px;
    vertical-align: middle;
    margin-right: 20px;
}


.top-bar a{
    text-decoration: none;
    color: #a3a3a3;
}

/* fine prima parte */

/* playlist sezione */




hr{
    width: 90%;
    background-color: #a3a3a3;
   
}





.bottom-bar{
    margin: 40px 0 20px 20px;
    color:#a3a3a3;
} 


/* fine sidebar */


/* header button */

.lf-bar{
    text-align: right;
    padding-top: 30px;
}

.upg{
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    background-color:#090a12 ;
    color: white;
    border-color: white;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 600;
} 

/* fine header */

/* inizio footer */

.col{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.first-side{
    display: flex;
    margin: 10px;
}

.first-side img{
    width: 70px;
}

.text-info { 
    margin: 12px;
}


