*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ubuntu';
}

.bg-color{
    background-color:#090a12 ;
    height: 100px;
}

.d-flex{
display: flex;
}

.jc-spbw{
    justify-content: space-between;
}

footer{
    height: 100px;
    background-color: #282929;
}

main{
    background-color: silver;
    height: calc(100vh - 100px);
    display:flex;
}


#sidebar{
    width: 250px;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

#content{
    height: 100%;
    width: calc(100vw - 250px);
    background-color: #141823;
    color: white;
    overflow-y: auto;
}

/* fine struttura */

/* contenuto sidebar */


.logo{
    width: 70%;
    margin: 25px 15px;
}

.top-bar{
    color: #a3a3a3;
}

.top-bar ul{
    margin-left: 40px;
}

.top-bar ul{
    padding-bottom: 20px;
}

.top-bar li{
    padding-bottom: 30px;
}

.top-bar h2 {
    margin-left: 40px;
    padding-bottom: 10px;
    color: white;
}

.top-bar button{
    padding: 10px;
    margin-right:5px ;
    background-color: #a3a3a3;
    border: transparent;
}



.add-btn {
    margin: 0 0 10px 40px;
    
}

 ul{
    list-style: none;
}

li i{
    color: white;
    font-size: 25px;
    vertical-align: middle;
    margin-right: 20px;
}


.top-bar a{
    text-decoration: none;
    color: #a3a3a3;
}

/* fine prima parte */

/* playlist sezione */




hr{
    width: 90%;
    background-color: #a3a3a3;
   
}





.bottom-bar{
    margin: 40px 0 20px 20px;
    color:#a3a3a3;
} 


/* fine sidebar */


/* header button */

.lf-bar{
    text-align: right;
    padding-top: 30px;
}

.upg{
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    background-color:#090a12 ;
    color: white;
    border-color: white;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 600;
} 

/* fine header */

/* inizio footer */

.first-col{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.second-col{
    display: flex;
    justify-content: center;
   
}

.first-side{
    display: flex;
    margin: 10px;
}

.first-side img{
    width: 70px;
}

.text-info { 
    margin: 12px;
}

.name {
    color: white;
}

.music {
    color: white;
}

.second-side i{
    color: white;
}


.player-time{
    color:white
}


.player-controller-time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
   flex-wrap: wrap;
}

.player-bar{
    width: 600px;
    background-color: grey;
    height: 5px;
    border-radius: 5px;
    margin: 0px 10px;
    position: relative;
}

.elapsed-time{
    position: absolute;
    top: 0;
    left: 0;
    background-color: silver;
    height: 100%;
    width: 20%;
    border-radius: 5px;
}

.controller-point{
    position: absolute;
    top: 50%;
    right:0 ;
    display: none;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: silver;
    border-radius: 50%;
    border: 1px solid black
}

.player-controller-time:hover .elapsed-time{
    background-color: green;
}

.player-controller-time:hover .controller-point{
    display: block;
    cursor: pointer;
}

/* fine video player */

/* inizio icone video player */

.icons-player{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 18px;
    width: 100%;
}

/* fine icone */

/* terza colonna  */

.third-col{
display: flex;
justify-content: center;
align-items: center;
}

.w-400{
    width: 200px;
}

.new-icons{
    color: white;
}

/* fine footer */



/* inizio layout main content */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



.col{
    width: calc(100% / 7);
}

.mt-30{
    margin-top: 30px;
}

/* title section */


.title-sec{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mt-20{
    margin-top: 20px;
}

.title-play{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.card img{
    width: 100%;
}

.card h3{
    text-align: center;
}

.card p{
    text-align: center;
}


.little-grey{
    font-size: 14px;
    color: #a3a3a3;
}

.circle{
    margin-top: 10px;
    width: 100%;
    border-radius: 50%;
}

/* contenuto finito */

/* hover section */


.top-bar a:hover{
color: white;
}

.top-bar button:hover{
    color: white;
    cursor: pointer;
}

.top-bar li:hover{
    color: white;
    cursor: pointer;
}

.bottom-bar span:hover{
    color: white;
    cursor: pointer;
}

.music:hover{
    text-decoration: underline;
    cursor: pointer;
}

.second-side i:hover{
    color: green;
    cursor: pointer;
}

.icons-player i:hover{
    color: green;
    cursor: pointer;
}

.new-icons i:hover{
    color: green;
    cursor: pointer;
}

.upg:hover{
    border-color: green;
    color: green;
    cursor: pointer;
}

.title-sec h2:hover{
    text-decoration: underline;
    color: green; 
    transition: ease-in-out 1s;
    cursor: pointer;
}


.card {
    position: relative;
    overflow: hidden;
}

.card i {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-80%);
    font-size: 30px;
    color: green;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover i {
    opacity: 1;
    cursor: pointer;
}

/* fine effetto hover */





